@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;

}

.main{
    height: 100vh;
    width: 100%;

    background-image: url(/imgs/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
}

.navbar{
    height: 70px;
    background-color: rgba(255, 255, 255, 0.219);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-text{
    padding: 10px;
    font-size: 2rem;
    float: left;
}

.img-button{
    height: 50px;
    width: 50px;
    
    float: right;
    background-image: url(/imgs/github\ 1.png);
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.5s;
}

.img-button:hover{
    background-image: url(/imgs/github\ 0.png);
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(255, 255, 255, 0.137);
    max-height: auto;
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);    margin: 0 auto;
    top: 20%;
}

.category{
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 3rem;
    width: 20rem;
    border: none;
    outline: none;
    border-radius: 5px;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.137);
    font-family: 'Poppins', sans-serif;
    color: white;
}

option{
    color: black;
    line-height: 10px;
}


.text-container{
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
    color: white;
}

.author-text{
    padding-top: 10px;
    padding-right: 50px;
    text-align: right;
}
.buttons-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 10px;
}

.button{
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0066ff;
    color: white;
}

.button:hover{
    background-color: #3d84f0;
    transform: scale(1.1);
    transition: 0.4s;
}

.small-pop{
    height: 10px;
    width: 10px;
    background-color: #3d84f0;
}

@media screen and (max-width:720px){
    .nav-text{
        font-size: 1.5rem;
    }
    .img-button{
        transform: scale(0.8);
    }
    .category{
        width: 15rem;
        font-size: 15px;
    }
    
    .container{
        width: 20rem;
        height: auto;
    }
    .text-container{
        font-size: 1rem;
    }
    .button{
        transform: scale(0.7);
    }
    .button:hover{
        transform: scale(0.8);
    }
}